extends layout

block content
  h1= title
  p Welcome to #{title} and Working on pug templates to dynamically generate webpages.
  br
  button(type="button", class="btn btn-primary") Press Me
  br
  
